MONGODB_URI=mongodb+srv://khanrobin7071:Robin54321@cluster0.eea47yy.mongodb.net/inaya-estates?retryWrites=true&w=majority

ADMIN_USERNAME=admin
ADMIN_PASSWORD=12345

ADMIN_SESSION_SECRET=99b59367d0c3d510abc7fc4e5b2f4426947c737d587a707fe77e41b64b647e25
